{% extends 'blood/adminbase.html' %}
{% block content %}
{% load widget_tweaks %}
{%load static%}
<head>
    <style>
        .label {
     color: white;
     padding: 8px;
   }
   
   .success {background-color: #4CAF50;} /* Green */
   .info {background-color: #2196F3;} /* Blue */
   .warning {background-color: #ff9800;} /* Orange */
   .danger {background-color: #f44336;} /* Red */
   .other {background-color: #e7e7e7; color: black;} /* Gray */
    </style>
   </head>
<br><br>
<div class="container">
    <H4 class="text-center">ПОДРОБНОСТИ О ДОНОРСТВЕ КРОВИ</H4><br>
    <table class="table table-light table-hover table-bordered table-striped">
        <thead class="bg-info">
            <tr>
                <th scope="col">Имя донора</th>
                <th scope="col">Болезнь</th>
                <th scope="col">Возраст</th>
                <th scope="col">Группа крови</th>
                <th scope="col">Единица</th>
                <th scope="col">Дата заказа</th>
                <th scope="col">Положение дел</th>
                <th class="text-right">Действие</th>
            </tr>
        </thead>
        <tbody>
            {% for t in donations %}
            <tr>
                <td> {{t.donor}}</td>
                <td> {{t.disease}}</td>
                <td> {{t.age}}</td>
                <td>{{t.bloodgroup}}</td>
                <td>{{t.unit}}</td>
                <td>{{t.date}}</td>
                <td>{{t.status}}</td>
                {% if t.status == 'Pending' %}
                <td class="text-right">
                    <button class="btn btn-primary badge-pill" style="width: 100px;"><a  style="text-decoration: none;color: white;" href="{% url 'approve-donation' t.id  %}">УТВЕРДИТЬ</a> </button>
                    <button class="btn btn-danger badge-pill" style="width: 80px;"><a  style="text-decoration: none;color: white;" href="{% url 'reject-donation' t.id  %}">ОТКЛОНЯТЬ</a> </button>
                </td>
                {% elif  t.status == 'Approved' %}
                <td><span class="label warning">{{t.unit}} Единица добавлена на склад</span></td>

                {% else %}
                <td><span class="label danger">0 Единица добавлена на склад</span></td>
                {% endif %}
            </tr>
            {% endfor %}

        </tbody>
    
    </table>
</div>

{% endblock content %}
